
$footer:#07616d;
$contraste:#2be9aa;
$green:#2be9aa;
$black:#131313;
$contraste-transp: rgba($black, 0.5);
$complement:#8cc2ff;
$complementVar:#55a3fc;
$complement-transparent: rgba($complement, 0.5);
$primary: #021d58;
$white:#f1f4f8;;
$white-transp: rgba($white,0.2);
$red:#ca3a3a;;

