@import "./_styles/colores";
@import "./_styles/fonts";
@import "./_styles/buttons";
@import "./_styles/servicios";




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: $h1;
    font-family: $font1;
}

h2 {
    font-size: $h2;
    font-family: $font1;
}

h3 {
    font-size: $h3;
    font-family: $font1;
}

h4 {
    font-size: $h4;
    font-family: $font1;
}

h5 {
    font-size: $h5;
    font-family: $font1;
}

h6 {
    font-size: $h6;
    font-family: $font1;
}


p {
    font-size: $p;
    font-family: $font2;
}


body {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {

    /*FORMULARIO DE APERTURA DE CUENTA*/

    .iframe-form{
       
        width: 100%;
        height: 900px;
        margin-top: 10vh;
        iframe{
            width: 100%;
            height: 200vh;
        }
    }

    .home-bg {
        position: relative;
    }

    .user-access {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 70px;
        background-color: $white;
        margin: auto;

        h5 {
            font-size: 0.6rem;
            font-weight: 400;
            color: $primary;
            margin: auto;
            padding: 0px;
            height: 10px;
            display: block;
        }
    }

    .user-access>*:last-child {
        text-align: center;
        width: 100%;
        border-top: 1px solid rgba($color: $black, $alpha: 0.5);
        grid-column: 1 / -1;
        /* Ocupa todas las columnas disponibles */
    }

    .home-bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/static/img/bg/4.jpg);
        background-size: cover;
        filter: brightness(0.1);
        z-index: -2;
    }

    .home-bg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(170deg, rgba($primary, 0.5), rgba($primary, 0.7), rgba($primary, 0.2));
        background-blend-mode: multiply;
        opacity: 0.9;
        z-index: -1;
    }

    /* Resto de estilos */


    .header {
        width: 100%;
        height: 16vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 0 20px;

        .brand {

            img {
                width: 100px;
            }
        }

        .nav {


            .menu {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                width: 85%;
                height: 100%;
                transition-duration: 0.3s;

                li {

                    list-style: none;
                    height: 50px;
                    transition-duration: 0.3s;

                    a {
                        color: $white;
                        text-decoration: none;
                        font-family: $font2;
                        transition-duration: 0.3s;
                        letter-spacing: 0.0625rem;
                    }
                }
            }

            .menu.active {
                transition-duration: 0.3s;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba($color:$black, $alpha: 0.99);
                position: absolute;
                z-index: 99;


            }

            #closeMenu.menu.active {
                transition-duration: 0.3s;
                display: none;
            }

            #servicios.menu.active {
                transition-duration: 0.3s;
                display: none;
            }


        }

    }

    /*FORMULARIO DE APERTURA*/
    .inicio-apertura{
        width: 100%;
        height: 100%;
      
    }

    .inicio {
        border-top: 0.1px solid $white-transp;
        width: 100%;
        height: calc(92.1vh - 16vh);
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .textos {
            padding: 0 30px;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;

            title {
                font-size: $h6;

                h5 {
                    text-align: center;
                    font-weight: 300;
                    letter-spacing: 0.125rem;

                }
            }

            .spech {
                h2 {
                    text-align: center;
                    letter-spacing: 0.0425em;
                    line-height: 2.5rem;
                    font-weight: 700;
                }
                #parrafo-compplementario{
                    display: none;
                    font-size: 2rem;
                }

            }
        }


        .butns {
            display: flex;
            flex-direction: column;
            gap: 20px;

            i {
                font-size: 0.8rem;
                margin-right: 5px;
            }
        }
    }
    .btns-desk{
        display: none;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
        width: 15%;
        background: green;
    }



    /*SILDER TEXT*/
    /*SILDER TEXT*/
    #slider-texts {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 30px;
        background-color: rgba($color: $black, $alpha: 0.5);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 16vh;
    }

    #t-slider {
        display: inline-block;
        white-space: nowrap;
        animation: typing 20s infinite linear;
        font-size: 1.2rem;
        font-family: $font1;
        color: $contraste;

    }

    @keyframes typing {
        0% {
            transform: translateX(-400%);
        }

        10% {
            transform: translateX(-320%);
        }

        20% {
            transform: translateX(-240%);
        }

        30% {
            transform: translateX(-160%);
        }

        40% {
            transform: translateX(-80%);
        }

        50% {
            transform: translateX(0%);
        }

        60% {
            transform: translateX(80%);
        }

        70% {
            transform: translateX(160%);
        }

        80% {
            transform: translateX(240%);
        }

        90% {
            transform: translateX(320%);
        }

        100% {
            transform: translateX(400%);
        }
    }

    /*SILDER TEXT*/
    /*SILDER TEXT*/
    .svg-wave {

        margin-top: -120px;


    }

    .svg-wave-invertido {
        margin-top: -150px;
    }

    .svg-wave-invertido-servicios {
        margin-top: -100px;
    }



    .quienes-somos {
        padding-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        margin-bottom: 150px;
        padding-bottom: 10px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        h1 {
            text-align: start;
            width: 85%;
            margin: auto;
            font-size: $h2;
            margin-top: -30px;
            line-height: 2rem;
            letter-spacing: -2px;
            color: $primary;

            span {
                font-size: calc($h2 + 1rem);
            }
        }

        .cards {
            scrollbar-width: thin;
            -ms-overflow-style: none;
            width: 100%;
            height: 450px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 2%;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            overflow-y: hidden;
            transition: transform ease 0.5s;
            scroll-behavior: smooth;
            margin-bottom: -30px;


            .card {

                flex: 0 0 auto;
                height: 400px;
                width: 80%;
                scroll-snap-align: center;
                overflow: hidden;
                margin: auto;
                margin-left: 3%;
                margin-right: 8%;
                display: flex;
                align-items: flex-end;
                transition: transform ease 0.5s;
                box-shadow: 5px -2px 5px 1px rgba($color: $black, $alpha: 0.1);

                #itemUno {
                    transition: height 0.5s ease-in;
                }

                #itemDos {
                    transition: height 0.5s ease-out;
                }

                #itemTres {
                    transition: height 0.5s ease-out;
                }

                .item {
                    transition: transform ease 0.5s;
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    border-top-left-radius: 80px;
                    background-color: rgba($color: #ffffff, $alpha: 1);

                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: inherit;
                        padding: 20px;
                        bottom: 0;
                        left: 0;
                        color: $primary;

                        h2 {
                            text-align: center;
                            font-size: 2rem;
                            margin-top: -100px;
                        }

                        p {
                            user-select: none;
                            font-size: $p;

                            button {
                                background-color: transparent;
                                color: $contraste;
                            }
                        }


                    }



                }

                .item.active {
                    height: 90%;
                }
            }

            .contenedor-mision {
                background-image: url(/static/img/bg/5.jpg);
                border: none;
                border-radius: 30px;
                background-size: cover;
            }

            .contenedor-vision {
                background-image: url(/static/img/bg/2.jpg);
                border: none;
                border-radius: 30px;
                background-size: cover;
            }

            .contenedor-nosotros {
                background-image: url(/static/img/bg/1.jpg);
                border: none;
                border-radius: 30px;
                background-size: cover;
            }
        }
    }

    /*SERVICIOS*/

    #servicios {
        width: 100%;
        height: auto;
        padding-top: 50px;
        background-color: $complement;
        margin-top: -105px;

        h3 {
            color: $white;
            font-size: $h3;
            text-transform: uppercase;
            text-align: center;
            padding: 50px 0;
        }

        .items-servicios {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: inherit;
            height: inherit;
            padding-bottom: 100px;

            .inversiones,
            .planificacion,
            .jubilacion,
            .seguros,
            .impuestos {
                margin: auto;
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: $complementVar;
                border-radius: 50px;
                padding: 15px 10px;
                box-shadow: 0px -2px 0px 0px rgba($color: $complement, $alpha: 0.3), 2px 5px 0px 0px rgba($color: $white, $alpha: 0.2);

                .icono {
                    width: auto;
                    height: auto;
                    border-radius: 100%;
                    background-color: #ffffff;

                    img {
                        width: 80px;
                        height: 80px;
                        padding: 10px;
                    }
                }

                .tittle {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    margin: auto;

                    h3 {
                        width: 100%;
                        padding: 0;
                        font-size: $h4;
                        margin: 0;
                        text-transform: capitalize;
                        font-weight: 700;
                        text-align: start;
                    }

                    p {
                        display: block;
                        font-size: 0.9rem;
                        padding: 0;
                        margin: 0;
                        color: $white;

                    }
                }
            }

        }
    }


    /*SERVICIOS*/


    /*----------------------------------------------------------------aliados*/
    .practicidad::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-image: url(/static/img/bg/10.png);
        background-size: cover;
        filter: brightness(0.1);
        filter: opacity(0.5);
    }

    .practicidad::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(170deg, rgba($primary, 0.1), rgba($primary, 0.1));

        background-blend-mode: multiply;
        opacity: 0.9;

    }

    .practicidad {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 550px;

        .container {
            width: inherit;
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .tittle {
                width: 90%;

                h2 {
                    font-size: 1.8rem;
                    color: $gris;
                    text-align: center;
                    margin-bottom: 50px;
                }
            }

            .image-account {
                width: 80%;
                height: auto;
                margin-bottom: 50px;
                position: relative;
                .texto-quiero-empezar{
                    width: 40%;
                    height: auto;
                    display: none;
                }
                
                .slide-items{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 30;
                    display: flex;
                    flex-direction: row;
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                    animation-name: slide-items;
                    box-shadow: 10px 10px 20px 5px rgba($color: $black, $alpha: 0.2);
                    touch-action:cross-slide-x;
                    border: 10px solid rgba($color: $white, $alpha: 0.4);
                    border-radius: 10px;
                }
                .slide-items::before{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url("/static/img/bg/laptop.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 31;
                }


                img {
                    scroll-snap-align: start;
                    z-index: 108;
                    width: 100%;
                    position: relative;
                    z-index: 79;
                    
                }

                
            }


        }

        .steps {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 60px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .step {

                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .texto{
                    h4{
                        font-size: 1.8rem;
                        line-height: 2rem;
                        
                    }
                    p{
                        font-size: 1.1rem;
                    }
                    button{
                        margin: 20px 0px;
                    }
                }

                .icono {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/*----------------------------------------------------------------aliados*/

/*Inversiones*/
/*Inversiones*/
.inversiones{
    width: 100%;
    height: 100%;
    padding: 40px 20px 50px 20px;
    background-color: $contraste;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius:50% ;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin-top: -450px;
    
    i{
        font-size: 4rem;
        margin: 50px 0px 20px 0px;
    }
    h1{
        font-size: $h2;
        text-align: center;
        margin: 0px 0px 50px 0px;
    }
    .container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        padding: 5px;


        .item{
            
            width: 100% ;
            height: 100px;
            button{
                i{
                    margin: 20px 0px 5px 0px;
                    padding: 0;
                    font-size: 1.1rem;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                background-color: rgba($color: $complement, $alpha: 0.9);
                color: $white;
                width: 100%;
                height: 100%;
                font-size: 1.1rem;
                box-shadow: 0px 0px 0px 0.5px white;
            }
        }
        #cap-market{
            background-image: url(/static/img/inversiones/market.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;

        }
        #real-state{
            background-image: url(/static/img/inversiones/real-state.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;

        }
        #financiamiento{
            background-image: url(/static/img/inversiones/financiamiento.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;


        }
        #criptos{
            background-image: url(/static/img/inversiones/criptos.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;

        }
    }
}



/*Inversiones*/
/*Inversiones*/

/*Contacto*/
#contacto::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/form/2.jpg);
    background-size: cover;
    z-index: -4;
    padding-top: 100px;

}


#contacto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: rgba($color: $primary, $alpha: 0.6);
    color: #ffffff;
    form{
        margin-top: 50px;
        width: 80%;
        height: auto;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        input, select{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            padding: 10px;
        }
        #mensaje{
            width: 100%;
            height: auto;
           
        }


    }
}
/*Contacto*/






.icono-flotante-whatsapp{
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 80px;
    right: 20px;
    z-index: 999;
    animation-name: whatsapp-button;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;

    .whatsapp-button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: $contraste;
        width: 100%;
        height: 100%;
       box-shadow: inset 1px 1px 2px $white;
        border-radius: 100%;
        text-decoration: none;
        cursor: pointer;
        i{
            font-size: 2.5rem;
            color: $white;
            width: 40px;
            height: 40px;
            display: block;
            margin-left: 4px;
            margin-bottom: 2px;
        }
       
    }
}

@keyframes whatsapp-button{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}






footer {
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: $black;
    padding: 30px 40px 100px 40px;
    font-family: $font1;

    a {
        text-decoration: none;
    }



    .items-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .brand {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: inherit;
            height: auto;


            img {

                width: 50px;

            }

            .rr-ss {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.6em;
                width: auto;

                i {
                    font-size: 1.8rem;
                    color: $complement;
                }
            }
        }




        .datos-fiscales {

            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 1.6em;

            .nombre {
                margin-top: 30px;
                color: $white;
                font-size: 1.2rem;

                margin-bottom: 0;
                padding: 0;
            }

            .datos {
                margin-top: -20px;
                width: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1px;
                margin-bottom: 50px;

                a {
                    text-align: center;
                    display: block;
                    color: $white;
                    font-size: 0.8rem;
                    letter-spacing: 0.5px;
                    font-weight: 300;
                }
            }
            
        }

    }




}
.desarrollador{display: none;}